# Machine Learning in Python for developers
---
## Krzysztof Bujniewicz
@bujniewicz on github

# What is "Machine Learning"?
---

### Magic?

# What is "Machine Learning"?
---

### Magic?
### Maths?

# What is "Machine Learning"?
---

#### Practical application of Artificial Intelligence

# How to ML?
---

### very briefly

* Encounter a problem
* Get a lot of data related to the problem
* Make sense of the data
* Create a model
* Verify the model
* Deploy the model
* Profit

# What's in it for developers
---

### solving different kinds of problems

# What's in it for developers
---

### solving different kinds of problems
### those described by data and with fault tolerance

# Examples
---

### two simple cases

# Classification
---

### Using Naive Bayes classifier
### Common use cases: spam filtering, image recognition, medical diagnosis

# Classification
---

### Using Naive Bayes classifier
### Common use cases: spam filtering, image recognition, medical diagnosis
### Determining if income is >= 50k USD or not
### Using adult data set from UCI

In [1]:
from collections import namedtuple
import random

from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
import numpy as np
import pandas as pd

PRINT = False

In [2]:
dataframe = pd.read_csv('bayes/adult.data', header=None)
dataframe.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [3]:
class SalaryModel():
    # Code omitted for clarity.

    def train(self):
        if self.classifier is None:
            self.classifier = GaussianNB()
            self.classifier.fit(self.features, self.values)

    def predict(self, features):
        if self.classifier is None:
            self.train()
        return self.classifier.predict(features)

In [5]:
class SalaryModelValidator():
    # Code omitted for clarity.
    
    @classmethod
    def prep_dataframe(cls, dataset_file):
        dataframe = pd.read_csv(dataset_file, header=None, names=cls.COLUMNS)
        
        for column in cls.COLUMNS:
            dataframe[column] = dataframe[column].replace(' ?', np.nan)
        dataframe = dataframe.dropna()
        
        for dimension, feature in SalaryModel.Columns.__dict__.items():
            value_map = getattr(SalaryModelMapping, '{}_MAP'.format(dimension), None)
            if value_map:
                dataframe[feature] = dataframe[feature].map(value_map).astype(int)
                
        return dataframe
    
    def validate(self):
        self.model.set_training_dataframe(self.training_dataframe)
        self.model.train()

        predicted = self.model.predict(self.test_dataframe[SalaryModel.FEATURE_NAMES])
        actual = self.test_dataframe[[SalaryModel.Columns.SALARY]]
        
        return accuracy_score(actual, predicted)

In [7]:
class SalaryModelMapping():
    # Code omitted for clarity.
    
    SALARY_MAP = {' <=50K': 0, ' >50K': 1, ' <=50K.': 0, ' >50K.': 1}
    WORKCLASS_MAP = {' State-gov': 0, ' Self-emp-not-inc': 1, ' Private': 2,
                     ' Federal-gov': 3, ' Local-gov': 4, ' Self-emp-inc': 5,
                     ' Without-pay': 6}
    EDUCATION_MAP = {' Bachelors': 0, ' HS-grad': 1, ' 11th': 2, ' Masters': 3,
                     ' 9th': 4, ' Some-college': 5, ' Assoc-acdm': 6, ' 7th-8th': 7,
                     ' Doctorate': 8, ' Assoc-voc': 9, ' Prof-school': 10,
                     ' 5th-6th': 11, ' 10th': 12, ' Preschool': 13, ' 12th': 14,
                     ' 1st-4th': 15}

In [13]:
from bayes.naive_model import SalaryModelValidator
dataframe = SalaryModelValidator.prep_dataframe('bayes/adult.data')
dataframe.head(10)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,0,77516,0,13,0,0,0,0,0,2174,0,40,0,0
1,50,1,83311,0,13,1,1,1,0,0,0,0,13,0,0
2,38,2,215646,1,9,2,2,0,0,0,0,0,40,0,0
3,53,2,234721,2,7,1,2,1,1,0,0,0,40,0,0
4,28,2,338409,0,13,1,3,2,1,1,0,0,40,1,0
5,37,2,284582,3,14,1,1,2,0,1,0,0,40,0,0
6,49,2,160187,4,5,3,4,0,1,1,0,0,16,2,0
7,52,1,209642,1,9,1,1,1,0,0,0,0,45,0,1
8,31,2,45781,3,14,0,3,0,0,1,14084,0,50,0,1
9,42,2,159449,0,13,1,1,1,0,0,5178,0,40,0,1

In [14]:
SalaryModelValidator.run('bayes/adult.data', 'bayes/adult.test')

Accuracy: 0.7886454183266932

# Not bad
---

### Let's clean up the data:
* drop education, occupation and workclass columns
* normalize as much as we can to binary

In [17]:
from bayes.model import SalaryModelValidator
dataframe = SalaryModelValidator.prep_dataframe('bayes/adult.data')
dataframe.head(10)

,age,fnlwgt,education_num,marital_status,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,77516,13,0,0,3,1,2174,0,40,1,0
1,50,83311,13,1,1,3,1,0,0,13,1,0
2,38,215646,9,0,0,3,1,0,0,40,1,0
3,53,234721,7,1,1,2,1,0,0,40,1,0
4,28,338409,13,1,1,2,0,0,0,40,0,0
5,37,284582,14,1,1,3,0,0,0,40,1,0
6,49,160187,5,1,0,2,0,0,0,16,0,0
7,52,209642,9,1,1,3,1,0,0,45,1,1
8,31,45781,14,0,0,3,0,14084,0,50,1,1
9,42,159449,13,1,1,3,1,5178,0,40,1,1

In [18]:
SalaryModelValidator.run('bayes/adult.data', 'bayes/adult.test')

Accuracy: 0.7959017929655776

# Regression
---

### Using k-nearest neighbors